<!--div class="handle" zn-draggable target=".property-sheets"><i class="fas fa-ellipsis-h"></i></div-->
<div ng-show="view.selected.obj">
  <div class="title">Object Properties</div>
  <div class="properties-list lean-scroll">
    <div class="property-item fl fl-ac" data-property="name" ng-show="view.propertySheet.properties.includes('NAME')">
      <div class="property-name fl-g0">Name</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="rect" data-property="x" ng-show="view.propertySheet.properties.includes('X')">
      <div class="property-name fl-g0">X</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="rect" data-property="y" ng-show="view.propertySheet.properties.includes('Y')">
      <div class="property-name fl-g0">Y</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="rect" data-property="width" ng-show="view.propertySheet.properties.includes('WIDTH')">
      <div class="property-name fl-g0">Width</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="rect" data-property="height" ng-show="view.propertySheet.properties.includes('HEIGHT')">
      <div class="property-name fl-g0">Height</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="text" data-property="text" ng-show="view.propertySheet.properties.includes('TEXT')">
      <div class="property-name fl-g0">Text</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-at multi-line" data-property-group="text" data-property="subtext" ng-show="view.propertySheet.properties.includes('SUBTEXT')">
      <div class="property-name fl-g0">Sub Text</div>
      <div class="property-value fl-g1"><textarea class="lean-scroll"></textarea></div>
    </div>
  </div>
</div>
<div class="list-editor" ng-show="view.selected.obj.list">
  <div class="fl">
    <div class="title fl-g1">List Items</div>
    <div class="item-actions fl-g0">
      <a title="Item Up" ng-click="view.listItemUp()"><i class="fas fa-arrow-up"></i></a>
      <a title="Item Down" ng-click="view.listItemDown()"><i class="fas fa-arrow-down"></i></a>
      <a title="Level Out" ng-click="view.listItemLevelOut()"><i class="fas fa-arrow-left"></i></a>
      <a title="Level In" ng-click="view.listItemLevelIn()"><i class="fas fa-arrow-right"></i></a>
      <a title="Add" ng-click="view.listItemAdd()"><i class="fas fa-plus-circle"></i></a>
      <a title="Delete" ng-click="view.listItemDelete()"><i class="fas fa-trash"></i></a>
    </div>
  </div>
  <div class="list-items">
    <div class="list-item fl fl-ac" ng-repeat="item in view.selected.obj.list" data-index="{{$index}}" data-level="{{item.$level}}">
      <div class="item-index fl-g0">{{$index+1}}</div>
      <div class="item-level fl-g0" ng-repeat="x in [].constructor(item.$level) track by $index">&nbsp;</div>
      <div class="item-text fl-g1" zn-editable doubleclick="Y" data-index="{{$index}}" onedit="view.listItemUpdate($event)">{{item.text}}</div>
    </div>
  </div>
</div>
<div ng-show="view.selected.stage">
  <div class="title">Stage Properties</div>
  <div class="properties-list lean-scroll">
    <div class="property-item fl fl-ac" data-property-group="stage" data-property="stage-width" ng-show="view.propertySheet.properties.includes('WIDTH')">
      <div class="property-name fl-g0">Width</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="stage" data-property="stage-height" ng-show="view.propertySheet.properties.includes('HEIGHT')">
      <div class="property-name fl-g0">Height</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="stage" data-property="stage-lanes" ng-show="view.propertySheet.properties.includes('LANES')">
      <div class="property-name fl-g0">Lanes</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
    <div class="property-item fl fl-ac" data-property-group="stage" data-property="stage-lanes-pos" ng-show="view.propertySheet.properties.includes('LANES-POS')">
      <div class="property-name fl-g0">Lanes Pos</div>
      <div class="property-value fl-g1"><input type="text" value="" size="1"/></div>
    </div>
  </div>
</div>
<div class="properties-message" ng-show="!view.selected.obj && !view.selected.stage">Select an object or the stage to view its properties</div>