.zn-calendar
{
  padding: 0px;
  font-size: 13px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.15);
  padding: 5px;
  display: inline-block;
  cursor: default;
  /*box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;*/
  width: 219px;
  /*height: 247.8px;*/
}

.zn-calendar .header
{
  font-size: 14px;
  font-weight: 600;
}

.zn-calendar .header .actions
{
  float: right;
}

.zn-calendar .header .actions a
{
  color: #435b6c;
  text-decoration: none;
  padding: 3px;
  display: inline-block;  
}

.zn-calendar .header .actions a:hover
{
  color: #9bb9ce;
}

.zn-calendar .header .title a
{
  color: #435b6c;
  text-decoration: none;
  padding: 3px 7px;
	display: inline-block;  
	border: 1px solid transparent;
	border-radius: 2px;
}

.zn-calendar .header .title a:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .header .month
{
  display: inline-block;
  padding-top: 3px;
  padding-left: 10px;  
  color: #393535;
}

.zn-calendar .header .year
{
  display: inline-block;
  color: #393535;
}

.zn-calendar .content
{
  
}

.zn-calendar .years
{
  display: inline-block;
  border: 1px solid transparent;
  margin: auto;
  display: none;
}

.zn-calendar .years .year
{
  display: inline-block;
  width: 63px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
}

.zn-calendar .years .year.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

.zn-calendar .years .year:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .months
{
  display: inline-block;
  border: 1px solid transparent;
  margin: auto;
  display: none;
}

.zn-calendar .months .month
{
  display: inline-block;
  width: 63px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
}

.zn-calendar .months .month.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

.zn-calendar .months .month:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .weeks
{
  display: inline-block;
  border: 1px solid transparent;
  font-size: 0px;
}

.zn-calendar .days
{
  border-bottom: 1px solid #9bb9ce;
  margin-bottom: 5px;
}

.zn-calendar .days .day
{
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 25px;
  text-align: center;
  margin: 2px;
  border: 1px solid transparent;
  color: #393535;
}

.zn-calendar .dates .date
{
  display: inline-block;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
  font-weight: 600;
}

.zn-calendar .dates .empty-date
{
  display: inline-block;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
  font-weight: 600;
}

.zn-calendar .dates .date:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .dates .date.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

.zn-calendar a
{
  cursor: pointer;
}