/*>>>>>angular classes <<<<<*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}


/*>>>>> all general classes <<<<<*/
* {outline:none}
.zn-fl {float:left}
.zn-fr {float:right}
.zn-cl {clear:left}
.zn-cr {clear:right}
.zn-cb {clear:both}
.zn-cf {clear:both;height:0px;overflow:hidden;}
.zn-ib {display:inline-block;}
.zn-bb {box-sizing: border-box}
.zn-h {display:none}
.zn-hidden {display:none}
.zn-ac {text-align: center}
.zn-al {text-align: left}
.zn-ar {text-align: right}
.zn-vat {vertical-align: top}
.zn-vam {vertical-align: middle}
.zn-vab {vertical-align: bottom}
.zn-sh-5 {height:5px;overflow:hidden;content:" "}
.zn-sh-10 {height:10px;overflow:hidden;content:" "}
.zn-sw-5 {width:5px;overflow:hidden;content:" "}
.zn-sw-10 {width:10px;overflow:hidden;content:" "}

.zn-pp {background-color: #ffffff; border-radius:50%; border:1px solid rgba(0,0,0,0.1)}
.zn-pp img {border-radius:50%}
.zn-pp-100, .zn-pp-100 img {width: 100px; height: 100px;}
.zn-pp-80, .zn-pp-80 img {width: 80px; height: 80px;}
.zn-pp-60, .zn-pp-60 img {width: 60px; height: 60px;}
.zn-pp-50, .zn-pp-50 img {width: 50px; height: 50px;}
.zn-pp-44, .zn-pp-44 img {width: 44px; height: 44px;}
.zn-pp-40, .zn-pp-40 img {width: 40px; height: 40px;}
.zn-pp-36, .zn-pp-36 img {width: 36px; height: 36px;}
.zn-pp-32, .zn-pp-32 img {width: 32px; height: 32px;}
.zn-pp-30, .zn-pp-30 img {width: 30px; height: 30px;}
.zn-pp-20, .zn-pp-20 img {width: 20px; height: 20px;}
.zn-pp-16, .zn-pp-16 img {width: 16px; height: 16px;}
.zn-pp-8, .zn-pp-8 img {width: 8px; height: 8px;}

.zn-info-message {color: #777777;  font-size: 13px;}
.zn-error-message {color: #e86060;  font-size: 13px;}

img {-ms-interpolation-mode: bicubic;}

.zn-lean-scroll::-webkit-scrollbar {width: 5px; height: 5px;}
.zn-lean-scroll::-webkit-scrollbar-track {background: #ddd;}
.zn-lean-scroll::-webkit-scrollbar-thumb {background: #bbb;}

.zn-row {display: table-row;}
.zn-cell {display: table-cell}

.zn-ll {position: relative;}
.zn-ll .loader { position: absolute; left:0px; top: 0px;}

.zn-cr
{
  display: table-row;
}

.zn-cc
{
  display: table-cell
}


body
{
  margin: 0px 0px 0px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 20px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {width: 5px; height: 5px}
body::-webkit-scrollbar-track {background: #ddd;}
body::-webkit-scrollbar-thumb {background: #bbb;}

input, textarea
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*>>>>> page layout clases <<<<<*/
.zn-page {font-family: inherit}
.zn-page-header {font-family: inherit}
.zn-page-content {font-family: inherit}
.zn-page-content-left {font-family: inherit}
.zn-page-content-main {font-family: inherit}
.zn-l {display: none}

/*>>>>> popup clases <<<<<*/
.zn-popup-container {font-family: inherit}
.zn-popup {position: absolute; display: none}

/*>>>>> index <<<<<*/
.zn-index {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; overflow: hidden;}
body.zn-index {margin: 0px; color: #666666; background-color: #f3f3f4;}
.zn-index-loader-container { width: 25px; height: 25px; position: relative}
.zn-index-loader-container .zn-loader-moon {position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(255,255,255); box-sizing: border-box; box-shadow: 0 0 4px 0px rgba(0,0,0,0.25); border-bottom: 5px solid rgb(102,102,102); border-radius: 50%; animation: moonspin 1.15s ease infinite;}
@keyframes moonspin {from {transform: rotate(0deg);} to {transform: rotate(360deg);}}

.zn-more-loader-container { width: 25px; height: 25px; position: relative; margin-left: auto; margin-right: auto}
.zn-more-loader-container .zn-loader-moon {position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(255,255,255); box-sizing: border-box; box-shadow: 0 0 4px 0px rgba(0,0,0,0.25); border-bottom: 5px solid rgb(102,102,102); border-radius: 50%; animation: moonspin 1.15s ease infinite;}


/*>>>>> view classes <<<<<*/
[ng-controller^='ViewContentCtrl']
{
  display: none;
}

.zn-view-root.error
{
  color: #e86060;
  font-size: 13px;
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0px;
}

/*>>>>> dialog <<<<<*/

.zn-on-dialog-show 
{
  overflow: hidden;
}

.zn-dialog-container, [zn-dialog] 
{
  display:none;
  position:fixed;
  left:0px;
  top:0px;
  bottom:0px;
  right:0px;
  z-index:1111000;
  background-image: url(images/bg-black-50.png);
  overflow-y: auto;
  overflow-x: hidden;
  
}
.zn-dialog 
{
  padding:15px;
  display:none;
  background-color:#ffffff;
  border-radius: 5px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom: 20px;
  width:325px;
}

.zn-dialog-header 
{
  padding-bottom:10px;
  /*background-color:#d4d7d7;*/
  color: rgb(80, 84, 88);
  /*border-bottom: 2px solid #bababa;*/
  /*border-bottom: 1px dotted #e0e0e0;*/
  font-size: 18px;
  font-weight: 500;
}

.zn-dialog-body 
{
  overflow-y: auto;
  overflow-x: hidden;
  /*min-height:200px;*/
  padding:10px;
} 

.zn-dialog-footer 
{
  padding-top:10px;
  /*border-top: 2px solid #bababa;*/
  /*border-top: 1px dotted #e0e0e0;*/
  text-align:right;
  /*background-color:#dfe2e2*/
}

.zn-dialog-container .error-message 
{
  padding:5px;
  font-size:12px;
  color:#444444;
  display:none;
  text-align:center
}

.zn-dialog.zn-dialog-alert
{
  width: 325px;
}

.zn-dialog.zn-dialog-alert .zn-dialog-header
{
  
}

.zn-dialog.zn-dialog-alert .zn-dialog-footer
{
  border-top: none;
}

.zn-dialog.zn-dialog-alert .zn-dialog-body
{
  min-height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
    
}

.zn-dialog.zn-dialog-alert .icon
{
  font-size: 50px;
  padding: 10px;
  color: #efb6b6;
  display: inline-block;
  vertical-align: middle;
}

.zn-dialog.zn-dialog-alert .message
{
  color: #777777;
  display: inline-block;
  vertical-align: middle;
}

.zn-dialog.zn-dialog-confirm
{
  width: 325px;
}

.zn-dialog.zn-dialog-confirm .zn-dialog-header
{
  
}

.zn-dialog.zn-dialog-confirm .zn-dialog-footer
{
  border-top: none;
}

.zn-dialog.zn-dialog-confirm .zn-dialog-body
{
  text-align: center;
  min-height: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
    
}

.zn-dialog.zn-dialog-confirm .icon
{
  font-size: 50px;
  padding: 10px;
  color: #efb6b6;
}

.zn-dialog.zn-dialog-confirm .message
{
  color: #777777;
}

.zn-toast
{
  position: fixed;
  left: 0px;
  top: 10px;
  text-align: center;
  z-index: 1112901;
}

.zn-toast .zn-msg
{
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,0.75);
  display: inline-block;
}
/*>>>>> input form and controls <<<<<*/

.zn-input-form 
{
  padding:0px;
}

.zn-input-field-group-vertical
{
  display: flex;
  flex-direction: column;
}

.zn-input-field-group-vertical .zn-input-field, .zn-input-field-group-vertical .zn-output-field
{
  /*padding-bottom: 20px;*/
}

.zn-input-field-group-vertical .zn-input-field:last-of-type
{
  /*padding-bottom: 0px;*/
}

.zn-input-field-group-horizontal
{
  display: flex;
}

.zn-input-field-group-horizontal .zn-input-field, .zn-input-field-group-horizontal .zn-output-field
{
  /*flex-grow: 1;*/
  padding-right: 20px;
}

.zn-input-field-group-horizontal .zn-input-field:last-of-type
{
  /*padding-right: 0px;*/
}

.zn-input-field 
{
  
}

.zn-on-dialog-show .zn-input-field 
{
  /*z-index: -1;*/
}
.zn-input-field.zn-v [class^="zn-input-field"]
{
  display: inline-block;
}

.zn-message
{
  font-size:11px;
  color: #444444;
}

.zn-message.zn-error
{
  color: #ff8d8d;
}

.zn-input-field .zn-message, .zn-output-field .zn-message
{
  /*position: absolute;*/
  left: 2px;
  bottom: 20px;
  height: 20px;
}

.zn-input-field.zn-error .zn-message
{
  color: #ff8d8d;
}

.zn-output-field.zn-error .zn-message
{
  color: #ff8d8d;
}

.zn-input-form.zn-ib .zn-input-field 
{
  display: inline-block;
  vertical-align: top;
}

.zn-input-field .zn-input-field-label 
{
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(80, 84, 88, 0.76);
  /*color: #acacac;*/
  /*color: rgb(103, 106, 108);*/
  white-space: nowrap;
}

.zn-input-field.zn-error .zn-input-field-label 
{
  color: #ffaaaa;
}

.zn-input-field .zn-input-field-text  
{
	border: 1px solid #e5e6e7;
	border-radius: 3px;
	padding: 5px 5px 7px 5px;	
	margin-top: 5px;  
}

.zn-input-field .zn-input-field-text input  
{
  border: none;
  /*border-bottom: 1px solid #e5e6e7;*/
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  width:100%; 
  background-color: transparent;
  padding-bottom: 0px;
}

.zn-input-field .zn-input-field-text textarea  
{
  border: none;
  /*border-bottom: 1px solid #e5e6e7;*/
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  width:100%; 
  background-color: transparent;
  height: 112px;
  overflow-y: auto;
  padding-bottom: 0px;
  resize: none;
}

/*.zn-input-field.zn-focus .zn-input-field-text input, .zn-input-field.zn-focus .zn-input-field-text textarea  
{
  border-bottom-color: rgb(112, 177, 164);
}*/

.zn-input-field.zn-focus .zn-input-field-text
{
  border-color: #70b1a4;
}

.zn-input-field.zn-error .zn-input-field-text
{
  border-color: #faa;
}

.zn-input-field.zn-readonly .zn-input-field-text
{
  border-bottom: 1px solid #e5e6e7;
  color: rgb(77, 82, 85); 
  font-size: 16px;
  padding-bottom:5px;
  height: 20px;
}

.zn-output-field
{
	
}

.zn-output-field .zn-output-field-label 
{
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(80, 84, 88, 0.76);
  /*color: #acacac;*/
  /*color: rgb(103, 106, 108);*/
  white-space: nowrap;
}

.zn-output-field .zn-output-field-text
{
  color: rgb(77, 82, 85); 
  font-size: 13px;
	border: 1px solid #e5e6e7;
	border-radius: 3px;
	padding: 5px 5px 7px 5px;
	height: unset;  
}

.zn-output-field .zn-picture
{
  float: left;
}

.zn-output-field .zn-icon
{
  float: right;
  padding-top: 2px;
}

.zn-output-field .zn-icon a
{
  color: #aaaaaa;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.zn-output-field .zn-icon a i
{
  font-size: 15px;
}

.zn-output-field .zn-icon a:hover
{
  color: #444444;
}

.zn-output-field.zn-picture .zn-output-field-text
{
  padding-left: 25px;
}

.zn-output-field.zn-error .zn-output-field-label 
{
  color: #ffaaaa;
}

.zn-output-field.zn-error .zn-output-field-text
{
  border-color: #faa;
}

.zn-input-field .zn-input-field-checkbox .zn-input-field-checkbox-text
{
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
}

.zn-input-field .zn-input-field-checkbox input
{
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}

.zn-input-field .zn-input-field-radio .zn-input-field-radio-text
{
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  padding-right: 2px;
}

.zn-input-field .zn-input-field-radio.zn-ib .zn-input-field-radio-item
{
  display: inline-block
}

.zn-input-field .zn-input-field-radio input
{
  display: inline-block;
  vertical-align: middle;
}


.zn-input-field .zn-input-field-dropdown  
{
  padding: 1px 0px 0px 0px;
}

.zn-input-field .zn-input-field-dropdown input  
{
  border:none; 
  
  font-size: 13px; 
  color:rgb(62, 68, 72); 
  width:100%; 
  background-color: transparent;
  padding-bottom: 5px;
}

.zn-input-field .zn-input-field-dropdown
{
  /*border-bottom: 1px solid #e0e0e0;*/
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 5px 9px 4px 5px;
  margin-top: 5px;  
  
}

.zn-input-field .zn-input-field-dropdown *
{
  cursor: pointer;
}

.zn-input-field .zn-input-field-dropdown .zn-cc-1
{
  width: 100%;
  padding-right: 5px;
}

.zn-input-field .zn-input-field-dropdown a.zn-trigger 
{
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
}

.zn-input-field .an-input-field-dropdown a:active
{
}

.zn-input-field.zn-error .zn-input-field-dropdown
{
  /*border-bottom: 1px solid #ffaaaa;*/
  border: 1px solid #ffaaaa;
}

.zn-input-field .zn-input-field-dropdown .items
{
  display: none;
}

.zn-input-field .zn-input-field-dropdown .fa 
{
  font-size: 15px;
  color:#999999;
}

.zn-input-field-dropdown-items
{
  position:absolute;
  padding: 0px;
  background-color: #ffffff;
  z-index:1111901;
  list-style-type:none;
  margin:0px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 1px solid rgba(0,0,0,.15);
  max-height: 253px;
  overflow-y: auto;
  display: none;
  border-radius: 4px;
}

.zn-input-field-dropdown-items .zn-input-field-dropdown-item
{
  display:block;
  padding: 0px;
}

.zn-input-field-dropdown-items .zn-input-field-dropdown-item
{
  font-size:12px;
  color: #645d5d;
  text-decoration:none;
  display: list-item;
  padding: 2px 7px 2px 7px;
  /*line-height: 30px;
  height: 30px;*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.zn-input-field-dropdown-items .zn-input-field-dropdown-item.empty
{
  height: 20px;
}

.zn-input-field-dropdown-items .zn-input-field-dropdown-item:hover
{
  background-color: #dbf0ff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
    
}

.zn-input-field .zn-input-file .zn-image-preview
{
  padding:10px;
  border: 1px dashed #dedede;
  border-radius: 3px;
  background-color: #f5f5f5;
}

.zn-input-field-search
{
  position: relative;
}

.zn-input-field-search i
{
  position: absolute;
  left: 0px;
  top: 0px;
  color: rgba(0,0,0,0.60);
}


.zn-input-field-search .zn-input-field-text
{
  padding-bottom:0px;
}

.zn-input-field-search .zn-input-field-text input
{
  border: none;
  border-bottom: 1px solid #e5e6e7;
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  width:100%; 
  background-color: transparent;
  padding-bottom: 6px;
  padding-left: 25px;
}

.zn-input-field-search .zn-input-field-text input:focus
{
  border-bottom-color: rgb(112, 177, 164);
}


.zn-input-field .zn-input-field-autosuggest  
{
}

.zn-input-field .zn-input-field-autosuggest input  
{
  border: none;
  font-size: 13px; 
  color: rgb(62, 68, 72); 
  width:100%; 
  background-color: transparent;
  padding-bottom: 6px;
}

.zn-input-field .zn-input-field-autosuggest.multi input
{
  width: auto;
}


.zn-input-field .zn-input-field-autosuggest .input  
{
  border-bottom: 1px solid #e5e6e7;
  display: flex;
  flex-wrap: wrap;
}

.zn-input-field .zn-input-field-autosuggest .input .items
{
  
}

.zn-input-field .zn-input-field-autosuggest .input input
{
  flex-grow: 1;
}
.zn-input-field.focus .zn-input-field-autosuggest .input
{
  border-bottom-color: rgb(112, 177, 164);
}

.zn-input-field .zn-input-field-autosuggest input:focus
{
  /*border-bottom-color: rgb(176, 217, 209);
  border-bottom-color: rgb(112, 177, 164);*/
}

.zn-input-field.zn-error .zn-input-field-autosuggest input
{
  border-bottom-color: 1px solid #ffaaaa;
}

/*.zn-input-field .zn-input-field-autosuggest*/
.zn-input-field-autosuggest-items
{
  position:absolute;
  padding: 0px;
  left:0px;
  right: 0px;
  /*background-color: #f4f4f4;*/
  background-color: #ffffff;
  z-index: 1112000;
  list-style-type:none;
  margin:0px;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*/
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  max-height: 253px;
  overflow-y: auto;
  display: none;
}

/*.zn-input-field .zn-input-field-autosuggest */
.zn-input-field-autosuggest-items .zn-input-field-autosuggest-item
{
  display:block;
  padding: 0px;
}

/*.zn-input-field .zn-input-field-autosuggest */
.zn-input-field-autosuggest-items .zn-input-field-autosuggest-item
{
  font-size:13px;
  color: #645d5d;
  text-decoration:none;
  display: list-item;
  padding: 2px 7px 2px 7px;
  line-height: 30px;
  height: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

/*.zn-input-field .zn-input-field-autosuggest */
.zn-input-field-autosuggest-items .zn-input-field-autosuggest-item:hover
{
  background-color: rgb(225, 237, 234);
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
    
}


/*.zn-input-field .zn-input-field-autosuggest */
.zn-input-field-autosuggest-items .selected
{
  background-color: rgb(225, 237, 234);
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}


.zn-input-field .zn-input-field-autosuggest .item
{
  display: inline-block;
  /*background-color: rgba(14, 39, 62, 0.19);*/
  background-color: rgba(181, 199, 216, 0.28);
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
  margin-right: 3px;
  margin-left: 0px;
  margin-bottom: 3px;
  /*color: rgba(18, 18, 18, 0.8);*/
  color: rgba(83, 96, 115, 0.62);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
}

.zn-input-field .zn-input-field-autosuggest .item a
{
  display: inline-block;
  color: rgba(83, 96, 115, 0.31);
}

.zn-input-field .zn-input-field-autosuggest .item a:hover
{
  color: #ddae57;
}

.zn-input-field .zn-input-field-autosuggest .item i
{
  padding-left: 5px;  
  font-size: 13px
}

.zn-input-field .zn-icon
{
  float: left;
}

.zn-input-field .zn-icon i
{
  font-size: 15px;
  color: #aaaaaa;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}

.zn-input-field.zn-input-field-date .zn-action 
{
  font-size: 15px;
  color:#999999;
}

.zn-input-field.zn-input-field-date .zn-cell-1
{
  width: 100%;
  padding-right: 5px;
}

.zn-btn 
{
  display: inline-block;  
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 0px 8px;  
  padding: 6px 12px 6px 12px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #1ab394;
  background-color: #1ab394;
}

.zn-btn:hover 
{
  background-color: rgb(100, 206, 184);
}


.zn-btn.zn-btn-primary
{
  border: 1px solid rgb(93, 156, 236);
  background-color: rgb(93, 156, 236);
}

.zn-btn.zn-btn-primary:hover 
{
  background-color: rgb(144, 190, 248);
}

.zn-btn-icn
{
  border-radius: 3px;
  color: rgba(0,0,0,0.60);
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 1px solid transparent;
}

.zn-btn-icn:hover 
{
  border: 1px solid #1ab394;
  background-color: rgb(100, 206, 184);
  color: rgb(255, 255, 255);
}

.zn-input-field-picture 
{
  border: 1px dashed #c3c6c5; 
  cursor: pointer;
  display: inline-block;
}

.zn-input-field-picture
{
  
}

.zn-input-field-file i
{
  font-size: 17px;
  color: #9e9a9a;
  padding-top: 5px;
  cursor: pointer;
  float: left;
}

.zn-input-field-file .zn-output
{
  font-size: 13px;
  padding-left: 16px;
  padding-top: 3px;
  color: #565656;  
}

/*>>>>> tags <<<<<< */

.zn-tag
{
  display: inline-block;
  /*background-color: rgba(14, 39, 62, 0.19);*/
  background-color: rgba(181, 199, 216, 0.28);
  border-radius: 3px;
  padding: 0px 5px 0px 5px;
  margin-right: 3px;
  margin-left: 0px;
  margin-bottom: 3px;
  /*color: rgba(18, 18, 18, 0.8);*/
  color: rgba(83, 96, 115, 0.62);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
}

/*>>>>> nav items <<<<<*/

.nav-items
{
  border: 0;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;  
}

.nav-items li
{
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: none;
  position: relative;
}

.nav-items li i
{
  font-size: 16px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  text-align: center;
  width: 20px;
}

.nav-items a
{
  font-weight: 600;
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  margin: 4px 0;
}

.nav-items.nav-items-vertical li
{
  border-left: 3px solid transparent;
}

.nav-items.nav-items-horizontal.nav-pill li
{
  display: inline-block;
  border-radius: 4px;
}

.nav-items.nav-items-horizontal.nav-pill li a
{
  margin: 0px;
  border-radius: 4px;
}

.nav-items.nav-items-horizontal.nav-pill a:hover
{
  background-color: rgb(199, 230, 224);
}

.nav-items.nav-items-horizontal.nav-pill li.selected
{
  background-color: rgb(95, 190, 170);
  /*border-bottom:3px solid rgb(95, 190, 170);
  background-color: rgb(220, 240, 236);*/
}

.nav-items.nav-items-horizontal.nav-pill li.selected a
{
  /*color: rgb(95, 190, 170);*/
  background-color: rgb(95, 190, 170);
  color: #ffffff;
  font-weight: bold;
}

.nav-items.nav-items-horizontal
{
  border-bottom: 1px solid rgb(95, 190, 170);
  padding-left: 5px;
}

.nav-items.nav-items-horizontal li
{
  display: inline-block;
}

.nav-items.nav-items-horizontal li a
{
  margin: 0px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 4px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-items.nav-items-horizontal a:hover
{
  background-color: rgb(199, 230, 224);
}

.nav-items.nav-items-horizontal li.selected
{
}

.nav-items.nav-items-horizontal li.selected a
{
  /*color: rgb(95, 190, 170);*/
  color: #ffffff;
  font-weight: bold;
  border-bottom: 4px solid rgb(95, 190, 170);
}


/*>>>>> menu and menu items <<<<*/

.menu-items-container
{
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding:3px;
}
.menu-items
{
  border: 0;
  font-weight: 400;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;  
}

.menu-items li
{
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: none;
  position: relative;
}

.menu-items li i
{
  font-size: 16px;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 15px;
  text-align: center;
  width: 20px;
}

.menu-items a
{
  color: rgb(100, 100, 100);
  display: block;
  text-decoration: none;
  padding: 12px 12px;
}

.menu-items a:hover
{
  /*border-left:3px solid rgb(95, 190, 170);*/
  background-color: rgb(220, 240, 236);
}

.menu-items li.selected a
{
  /*color: rgb(95, 190, 170);*/
  color: rgb(100, 100, 100);
  font-weight: bold;
}


.zn-menu-items
{
  position:absolute;
  padding: 0px;
  left:0px;
  right: 0px;
  /*background-color: #f4f4f4;*/
  background-color: #ffffff;
  z-index:1110901;
  list-style-type:none;
  margin:0px;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*/
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  max-height: 253px;
  overflow-y: auto;
  display: none;
}

.zn-menu-items .zn-menu-item
{
  display:block;
  padding: 0px;
}

.zn-menu-items .zn-menu-item
{
  font-size:13px;
  color: #645d5d;
  text-decoration:none;
  display: list-item;
  padding: 2px 7px 2px 7px;
  line-height: 30px;
  height: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.zn-menu-items .zn-menu-item:hover
{
  background-color: rgb(225, 237, 234);
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
    
}

/*>>>>> sections and cards <<<<<*/

.zn-view-header
{
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.zn-view-body
{
  margin-left: 20px;
  margin-right: 20px;
}

.zn-view-header .zn-view-title
{
  font-size: 20px;
  font-weight: 600;
  color: #676a6c;
  padding-top: 8px;
}



.zn-card
{
  padding: 20px;
  margin-bottom: 20px;
  /*margin-right: 20px;*/
  /*border: 1px solid rgba(54,64,74,.13);e7eaec*/
  border-top: 2px solid #d2dae0;
  border-left: 1px solid rgba(54,64,74,.13);
  border-right: 1px solid rgba(54,64,74,.13);
  border-bottom: 1px solid rgba(54,64,74,.13);
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section-header-1 
{
  padding-top: 25px;
  padding-bottom: 25px;
}

.zn-section-title 
{
  font-size: 20px; 
  color: rgba(0,0,0,0.60); 
  font-weight: 600;
  line-height: 35px;  
}

.zn-card-header
{
  min-height: 40px;
}

.zn-card-header .zn-card-title
{
  disply:inline-block;
  padding-right:25px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: rgb(80, 84, 88);
  line-height: 16px;
  font-weight: 600;
}

.zn-card-header .zn-card-toolbar 
{
  /*position: absolute;
  right: 0px;
  top: -10px;*/
}

.zn-card-header .zn-card-toolbar  .zn-btn-icn i
{
  font-size: 16px;
}

.zn-card-header .zn-card-toolbar .zn-card-toolbar-title
{
  float:left;
  font-size: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: rgb(80, 84, 88);
  line-height: 16px;
  font-weight: 600;
  padding-top:8px;
}

/*>>>>> Calendar <<<<<<<*/
.zn-calendar
{
  padding: 0px;
  font-size: 13px;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.15);
  padding: 5px;
  display: inline-block;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  width: 219px;
  /*height: 247.8px;*/
  position: absolute;
  display: none;
}

.zn-calendar .header
{
  font-size: 14px;
  font-weight: 600;
}

.zn-calendar .header .actions
{
  float: right;
}

.zn-calendar .header .actions a
{
  color: #435b6c;
  text-decoration: none;
  padding: 3px;
  display: inline-block;  
}

.zn-calendar .header .actions a:hover
{
  color: #9bb9ce;
}

.zn-calendar .header .title a
{
  color: #435b6c;
  text-decoration: none;
  padding: 3px 7px;
	display: inline-block;  
	border: 1px solid transparent;
	border-radius: 2px;
}

.zn-calendar .header .title a:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .header .month
{
  display: inline-block;
  padding-top: 3px;
  padding-left: 10px;  
  color: #393535;
}

.zn-calendar .header .year
{
  display: inline-block;
  color: #393535;
}

.zn-calendar .content
{
  
}

.zn-calendar .years
{
  display: inline-block;
  border: 1px solid transparent;
  margin: auto;
  display: none;
}

.zn-calendar .years .year
{
  display: inline-block;
  width: 63px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
}

.zn-calendar .years .year.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

.zn-calendar .years .year:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .months
{
  display: inline-block;
  border: 1px solid transparent;
  margin: auto;
  display: none;
}

.zn-calendar .months .month
{
  display: inline-block;
  width: 63px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
}

.zn-calendar .months .month.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

.zn-calendar .months .month:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .weeks
{
  display: inline-block;
  border: 1px solid transparent;
  font-size: 0px;
}

.zn-calendar .days
{
  border-bottom: 1px solid #9bb9ce;
  margin-bottom: 5px;
}

.zn-calendar .days .day
{
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 25px;
  text-align: center;
  margin: 2px;
  border: 1px solid transparent;
  color: #393535;
}

.zn-calendar .dates .date
{
  display: inline-block;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
  font-weight: 600;
}

.zn-calendar .dates .empty-date
{
  display: inline-block;
  font-size: 12px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  color: #393535;
  text-decoration: none;
  font-weight: 600;
}

.zn-calendar .dates .date:hover
{
  background-color: #bfdbef;
  border-color: #aecce2;
}

.zn-calendar .dates .date.selected
{
  background-color: #9bb9ce;
  border-color: #9da9b2;
  color: #ffffff;
  font-weight: 600;  
}

/*>>>>> list <<<<<*/

/*.zn-list 
{
  color:#444444;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.zn-list .zn-list-item
{
  clear: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.zn-list .zn-list-item.hover
{
}

.zn-list .zn-list-item.zn-list-item-inline
{
  display: inline-block;
}

.zn-list .zn-list-item a
{
  text-decoration: none;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.zn-list .zn-list-item a:hover
{
  background-color: #f3f3f4;
  border: 1px solid #e8e8e8;
}

.zn-list .zn-list-item .zn-list-item-main-text
{
  font-size: 14px;
  color: #444444;
}

.zn-list .zn-list-item .zn-list-item-sub-text
{
  font-size: 13px;
  color: #888888;
}

.zn-list .zn-list-item .zn-list-item-cell
{
  display: inline-block;
  vertical-align: middle;
}

.zn-list .zn-list-item .zn-list-item-selector
{
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.zn-list .zn-list-item.selected .zn-list-item-selector
{
  display: block;
}

#userprofiles-list .zn-list-item .zn-list-item-selector i
{
  font-size: 12px;
  color: bcbcbc;
}

.zn-list .zn-list-item.zn-more
{
  text-align: center;
}

.zn-more
{
  text-align: center;
}

.zn-more a
{
  text-decoration: none;
  color: #888888;
  font-size: 50px;
  vertical-align: middle;
}

.zn-more a:hover
{
  color: #444444;
}*/


/* >>>>> grid <<<<*/


.zn-grid
{
  position: relative;
  background-color: #ffffff;
}

.zn-grid *
{
  box-sizing: border-box;
}

.zn-grid .fixed-headers
{
  position: absolute;
  font-size: 0px;
  overflow: hidden;
}

.zn-grid .fixed-headers .cell
{
  font-weight: 600;
  background-color: #f4f4f4;
  color: #565656;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zn-grid .scrollable-headers
{
  position: absolute;
  font-size: 0px;
  white-space: nowrap;
  overflow: hidden;
}

.zn-grid .scrollable-headers .cell
{
  font-weight: 600;
  background-color: #f4f4f4;
  color: #565656;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}


.zn-grid .fixed-content
{
  position: absolute;
  font-size: 0px;
  overflow: hidden;
}

.zn-grid .fixed-content .cell.col-0 
{
  font-weight: 600;
  text-align: center;
  background-color: #f4f4f4 !important;
  color: #565656;
}

.zn-grid .fixed-content .cell
{
  background-color: #fdfdfd;
}

.zn-grid .fixed-content .content-row.selected .cell
{
  background-color: #dcfbfd !important;
}

.zn-grid .content-row
{
  width: fit-content;
}

.zn-grid .content-column
{
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
}


.zn-grid .scrollable-content
{
  position: absolute;
  font-size: 0px;
   white-space: nowrap;
  overflow: auto;
}

.zn-grid .scrollable-content::-webkit-scrollbar {width: 7px; height: 9px;}
.zn-grid .scrollable-content::-webkit-scrollbar-track {background: #ddd;}
.zn-grid .scrollable-content::-webkit-scrollbar-thumb {background: #bbb;}
.zn-grid .scrollable-content::-webkit-scrollbar-corner {background: #eee;}

.zn-grid .cell
{
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  cursor: default;
}

.zn-grid .cell.dummy-cell
{
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.zn-grid .scrollable
{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zn-grid .cell-actions
{
  display: none;
  position: absolute;
}

.zn-grid .dummy-col
{
  width: 100px;
}

.zn-grid .content-page
{
  border-bottom: 1px solid #e2e2e2;
}

.zn-grid .content-row.selected
{
  background-color: #dcfbfd !important;
}

.zn-grid .fixed-content .content-row.selected .col-0
{
  background-color: #dcfbfd;
}

.zn-grid .cell.selected
{
  background-color: #dcfbfd !important;
}

.zn-grid .header-cell
{
  position: relative;
}

.zn-grid .header-cell .indicators
{
  position: absolute;
  right: 3px;
  top: 2px;
}

.zn-grid .header-cell i
{
  display: none;
  background-color: #f4f4f4;
  padding: 2px;
  font-size: 13px;
}

.zn-grid .header-cell .menu
{
  cursor: pointer;
}

.zn-grid .header-cell:hover .menu
{
  display: inline;
}

.zn-grid-header-menu-popup
{
  position: absolute;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 225px;
  height: 322px;
  border-radius: 5px;
  z-index: 2;
}

.zn-grid-header-menu-popup .header
{
  background-color: #e7e7e7;
  border-radius: 5px 5px 0px 0px;
  padding: 5px 5px 0px 5px;
  font-weight: 600;
  font-size: 13px;
}

.zn-grid-header-menu-popup .actions
{
  padding: 0px 5px 5px 5px;
  background-color: #e7e7e7;
  border-bottom: 1px solid rgba(0,0,0,.15);  
}

.zn-grid-header-menu-popup .actions .action
{
  text-decoration: none;
  padding: 5px;
  color: #5f5e5e;
  font-size: 13px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.zn-grid-header-menu-popup .actions .action:hover
{
  background-color: #d8f1ec;
  border: 1px solid rgba(0,0,0,.15);
  color: #272727;
}

.zn-grid-header-menu-popup .column-distinct-value
{
  padding: 5px;
}

.zn-grid-header-menu-popup .lov
{
  width: 215px;
  height: 220px;
  margin-top: 5px;
  overflow-y: auto;
  overflow-x: hidden;  
}

.zn-grid-header-menu-popup .lov table
{
  margin-right: 5px;
  width: inherit;
}

.zn-grid-header-menu-popup .lov .lov-item
{
}

.zn-grid-header-menu-popup .lov .lov-item .lov-input
{
  vertical-align: top;
  /*border-bottom: 1px solid #eaeaea;*/
  padding: 2px;
  width: 20px;
}

.zn-grid-header-menu-popup .lov .lov-item .lov-value
{
  font-size: 11px;
  /*border-bottom: 1px solid #eaeaea;*/
  padding: 2px;
}

.zn-grid-header-menu-popup .zn-btn
{
  margin: 0px;
  padding: 1px 7px 2px 7px;
  font-size: 13px;
}

.zn-grid-header-menu-popup .zn-btn-icn
{
  font-size: 13px;
  padding: 2px 5px 2px 5px;  
}

.zn-grid-header-menu-popup .zn-btn-icn:hover
{
  border: 1px solid #2dccac;
    background-color: #61dac1;
}

.zn-grid-header-menu-popup .filter-actions
{
  padding-bottom: 5px;
}

.zn-grid .content-row.row-type-red
{
  background-color: #fff2f2;
}

.zn-grid .content-row.row-type-green
{
  background-color: #d2ffdc;
}

.zn-grid .content-row.row-type-amber
{
  background-color: #fff4d2;
}

.zn-grid-header-menu-popup .list-search
{
	padding: 5px;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 16px;
	display: flex;
	background-color: #f4f4f4;
}

.zn-grid-header-menu-popup .list-search input
{
	border: 0px;
	flex: 1;
	padding-left: 3px;
	padding-right: 10px;
  background-color: transparent;
  color: #707070;
  font-size: 12px;
}

.zn-grid-header-menu-popup .list-search i
{
	padding-top: 2px;
	color: #949494;
}