body
{
  background-color: #ffffff;
  padding: 50px;
}

.layout
{
  padding: 20px;
}

.tree-container
{
  /*position: absolute;
  left: 50px;
  top: 50px;*/
  width: 350px;
  border: 1px solid #bcbcbc;
  height: 500px;
  overflow-y: auto;
}

.panel
{
  width: 350px;
  height: 100px;
  border: 1px solid #bcbcbc;
  margin-top: 20px;
}