.zn-popup
{
  position:absolute;
  z-index:1111901;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 1px solid rgba(0,0,0,.15);
	border-radius: 2px;
  background-color: #ffffff;
  padding: 0px;
  margin:0px;
}

.zn-popup.with-shadow
{
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 1px solid rgba(0,0,0,.15);
	border-radius: 2px;
  background-color: #ffffff;
  padding: 0px;
  margin:0px;
}