.layout
{
  padding: 50px;
}

.form-1
{
  width: 200px;
}

.textarea
{
  height: 200px;
}

.button-set
{
  display: flex;
  margin-bottom: 20px;
}

.button-set .zn-button
{
  flex-grow: 0;
  margin-right: 5px;
}

.calendars
{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calendars .zn-calendar
{
  flex-grow: 0;
  margin-right: 20px;
}

.radio-group, .tnc
{
  width: 450px;
}

.zn-popup .zn-calendar
{
  border: none;
}

.zn-dialog .zn-calendar
{
  border: none;
  background-color: transparent;
}

.annotator
{
  width: 900px;
  border: 1px solid #bcbcbc;
}

.annotator-toolbar
{
  display: flex;
}

.annotator-toolbar .zn-textfield
{
  flex-grow: 0;
  width: 200px;
}

.annotator-toolbar .zn-button
{
  height: 20px;
  margin-top: 18px;
  margin-left: 10px;  
}


.draggable-calendar 
{
  position: absolute;
  border: 1px solid rgba(0,0,0,.15);
}

.draggable-calendar .zn-calendar
{
  border: none
}

.draggable-calendar .drag-handle
{
  height: 5px;
  background-color: rgba(0,0,0,.15);
  cursor: move;
}