<div class="layout">
  <div class="form-1">
    <div zn-textfield name="associate-name" label="Associate Name" [(value)]="form.associateName" [error]="validationErrors.associateName"></div>
    <div zn-textfield name="userid" [(value)]="form.userid" icon="fas fa-user-tie" placeholder="User ID"></div>
    <div zn-textfield name="password" [(value)]="form.password" icon="fas fa-lock" password=true placeholder="Password"></div>
    <div zn-dropdownfield name="network" label="Network" [(value)]="form.network" [items]="typesOfNetwork" [error]="validationErrors.network"></div>
    <div zn-datefield name="activedate" label="Active On" [(value)]="form.activeDate" placeholder="Select date" [error]="validationErrors.activeDate"></div>
    <div zn-textarea name="descr" label="Description" [(value)]="form.descr" class="textarea" placeholder="Please enter the details here" [error]="validationErrors.descr"></div>
  </div>
  <div class="radio-group">
    <div zn-radiogroup name="networkopts" label="Network Options" [(value)]="form.networkopts" [items]="typesOfNetwork" [error]="validationErrors.networkopts"></div>
  </div>
  <div class="tnc">
    <div zn-checkboxfield name="agreement" text="I agree to the terms and conditions of the fair use of this software" [(value)]="form.agreement" onValue="Y" offValue="N" [error]="validationErrors.agreement"></div>
  </div>
  <div class="button-set">
    <div zn-button name="add-calendar" text="Add Calendar" action="add-calendar" icon="far fa-calendar-plus"></div>
    <div zn-button name="bookmark" text="Bookmark" action="bookmark" icon="fas fa-bookmark"></div>
    <div zn-button name="delete" text="Delete" action="delete" icon="fas fa-trash" type="critical"></div>
    <div zn-button name="update" text="Update Form Data" action="update-form-data" (onAction)="onUpdateFormData($event)" type="warning"></div>
  </div>
  <div class="button-set">
    <div zn-button name="show-popup-cal" class="show-popup-cal" text="Show Calendar Popup" action="show-popup-cal" (onAction)="onShowPopupCal($event)"></div>
    <div zn-button name="show-dialog-cal" class="show-dialog-cal" text="Show Calendar Dialog" action="show-dialog-cal" (onAction)="onShowDialogCal($event)"></div>
  </div>
  <div class="calendars">
    <div zn-calendar name="start-date" [(date)]="form.startDateCal" (onDateSelect)="onStartDateSelect($event)"></div>
    <div zn-calendar name="end-date"  [(date)]="form.endDateCal" (onDateSelect)="onEndDateSelect($event)"></div>
  </div>
  <div zn-popup class="popup" name="popup-cal" source=".show-popup-cal" showAt="right">
    <div zn-calendar name="popup-date" (onDateSelect)="onStartDateSelect($event)"></div>
  </div>

  <zn-dialog class="dialog" name="dialog-cal" dialog-title="Select Date" [actions]="dialogActions" (onAction)="onDialogAction($event)">
    <div zn-calendar name="dialog-date" (onDateSelect)="onStartDateSelect($event)"></div>
  </zn-dialog>

</div>

