.zn-textarea
{
  display: flex;
  flex-direction: column;
}

.zn-textarea .zn-textarea-input
{
  flex-grow: 1;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 4px;
  display: flex;
  background-color: #ffffff;
}

.zn-textarea.focused .zn-textarea-input
{
  border-color: #7f8d98;
  /*background-color: #f9fffe;*/
}

.zn-textarea.error .zn-textarea-input
{
  border-color: #ffc0bb;
  background-color: #fffafa;
}

.zn-textarea .zn-textarea-input textarea
{
	flex-grow: 1;
	flex-basis: 0;
	background-color: transparent;
  border: none;
  resize: none;
  font-size: 13px;
  color: #3e4448;
}

.zn-textarea .zn-textarea-input textarea::-webkit-scrollbar {width: 5px; height: 5px;}
.zn-textarea .zn-textarea-input textarea::-webkit-scrollbar-track {background: #ddd;}
.zn-textarea .zn-textarea-input textarea::-webkit-scrollbar-thumb {background: #bbb;}

.zn-textarea .zn-textarea-input textarea::placeholder {color: #bcbcbc;}

.zn-textarea .zn-textarea-input textarea[readonly]
{
  color: #bcbcbc;
}

.zn-textarea.error .zn-textarea-input textarea
{
  color: #d4746d;
}

.zn-textarea .zn-textarea-label
{
  flex-grow: 0;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f5f5f;
}

.zn-textarea.error .zn-textarea-label
{
  color: #d4746d;
}

.zn-textarea .zn-textarea-msg
{
  flex-grow: 0;
  min-height: 20px;
  font-size: 11px;
}

.zn-textarea.error .zn-textarea-msg
{
  color: #d4746d;
}