.zn-datefield
{
  display: flex;
  flex-direction: column;
}

.zn-datefield .zn-datefield-input
{
  flex-grow: 0;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 4px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.zn-datefield.focused .zn-datefield-input
{
  border-color: #7f8d98;
  /*background-color: #f9fffe;*/
}

.zn-datefield.error .zn-datefield-input
{
  border-color: #ffc0bb;
  background-color: #fffafa;
}

.zn-datefield .zn-datefield-input input
{
	flex-grow: 1;
	flex-basis: 0;
	background-color: transparent;
  border: none;
  font-size: 13px;
  color: #3e4448;
}
.zn-datefield .zn-datefield-input input::placeholder {color: #bcbcbc;}

.zn-datefield .zn-datefield-input input[readonly]
{
  color: #bcbcbc;
}

.zn-datefield.error .zn-datefield-input input
{
  color: #d4746d;
}

.zn-datefield .zn-datefield-input .icon
{
  flex-grow: 0;
  padding-right: 5px;
  color: #999;
  font-size: 15px;
  padding-left: 2px;
}

.zn-datefield .zn-datefield-input .action
{
  flex-grow: 0;
  padding-right: 5px;
  color:#999;
  font-size: 15px;
  padding-left: 5px;
}

.zn-datefield .zn-datefield-input:hover .action
{
  color: #9da9b2;
}


.zn-datefield .zn-datefield-label
{
  flex-grow: 0;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f5f5f;
}

.zn-datefield.error .zn-datefield-label
{
  color: #d4746d;
}

.zn-datefield .zn-datefield-msg
{
  flex-grow: 0;
  min-height: 20px;
  font-size: 11px;
}

.zn-datefield.error .zn-datefield-msg
{
  color: #d4746d;
}

.zn-datefield-calendar
{
  position:absolute;
  z-index:1111901;
  display: none;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  width: 219px;
}