body
{
  background-color: #ffffff;
  padding: 50px;
}

.layout
{
  
}

.field
{
  width: 200px;
}

.field.calendar-1, .field.calendar-2
{
  width: unset;
}

.textarea
{
  height: 200px;
}

.calendars
{
  padding: 20px 0px 0px 0px;
  display: flex;
  align-items: flex-start;
}

.calendars .calendar
{
  flex-grow: 0;
  margin-right: 20px;
}

.calendar-3
{
  margin-right: 0px;
}

.zn-popup .zn-calendar
{
  border: none;
}

.zn-dialog .zn-calendar
{
  border: none;
  background-color: transparent;
}

/*.dialog-cal .zn-dialog-wrapper {width: 230px;}*/

.buttons-2 {margin-top: 20px;}