.zn-dropdownfield
{
  display: flex;
  flex-direction: column;
}

.zn-dropdownfield .zn-dropdownfield-input
{
  flex-grow: 0;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	padding: 4px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  cursor: default;
}

.zn-dropdownfield.focused .zn-dropdownfield-input
{
  border-color: #7f8d98;
  /*background-color: #f9fffe;*/
}

.zn-dropdownfield.error .zn-dropdownfield-input
{
  border-color: #ffc0bb;
  background-color: #fffafa;
}

.zn-dropdownfield .zn-dropdownfield-input .value
{
	flex-grow: 1;
  flex-basis: 0;
  color: #3e4448;
  font-size: 13px;
}

.zn-dropdownfield .zn-dropdownfield-input .value.placeholder
{
  color: #bcbcbc;
}

.zn-dropdownfield.error .zn-dropdownfield-input .value
{
  color: #d4746d;
}

.zn-dropdownfield .zn-dropdownfield-input .action
{
  flex-grow: 0;
  padding-right: 5px;
  color: #999;
  font-size: 15px;
  padding-left: 5px;
}

.zn-dropdownfield .zn-dropdownfield-input:hover .action
{
  color: #9da9b2;
}

.zn-dropdownfield .zn-dropdownfield-label
{
  flex-grow: 0;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f5f5f;
}

.zn-dropdownfield.error .zn-dropdownfield-label
{
  color: #d4746d;
}

.zn-dropdownfield .zn-dropdownfield-msg
{
  flex-grow: 0;
  min-height: 20px;
  font-size: 11px;
}

.zn-dropdownfield.error .zn-dropdownfield-msg
{
  color: #d4746d;
}

.zn-dropdownfield-items
{
  position:absolute;
  z-index:1111901;
  padding: 0px;
  background-color: #ffffff;
  list-style-type:none;
  margin:0px;
  box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  border: 1px solid rgba(0,0,0,.15);
  max-height: 253px;
  overflow-y: auto;
  display: none;
	border-radius: 2px;
	min-width: 100px;
  box-sizing: border-box;
}

.zn-dropdownfield-items::-webkit-scrollbar {width: 5px; height: 5px}
.zn-dropdownfield-items::-webkit-scrollbar-track {background: #ddd;}
.zn-dropdownfield-items::-webkit-scrollbar-thumb {background: #bbb;}


.zn-dropdownfield-items .zn-dropdownfield-item
{
  display:block;
  padding: 0px;
  cursor: default;
}

.zn-dropdownfield-items .zn-dropdownfield-item
{
  font-size:12px;
  color: #645d5d;
  text-decoration:none;
  display: block;
  padding: 5px 7px 5px 7px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
}

.zn-dropdownfield-items .zn-dropdownfield-item:hover
{
  background-color: #dcfaff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.zn-dropdownfield-items .zn-dropdownfield-item:last-child:hover
{
  border-bottom: 1px solid transparent;
}

.zn-dropdownfield-items .zn-dropdownfield-item:first-of-type:hover
{
	border-top: 1px solid transparent;
}

.zn-dropdownfield-items .zn-dropdownfield-item .zn-dropdownfield-item-text
{
  font-weight: 500;
}

.zn-dropdownfield-items .zn-dropdownfield-item .zn-dropdownfield-item-sub-text
{
  color: #8e8e8e;
  font-size: 11px;
}

.zn-dropdownfield-items .zn-dropdownfield-item-divider
{
  height: 2px;
  overflow: hidden;
  margin-bottom: 2px;
  border-bottom: 1px solid #e2e2e2;
}

.zn-dropdownfield-item[zn-value=''] {height: 20px}
.zn-dropdownfield-items .zn-dropdownfield-item i
{
  padding-right: 10px;
}